body {
margin: 0;
    font-family: Roboto;    
}    
ul {
    list-style: none;
}
a{
    text-decoration: none;
}
.nav-menu{
    background: #E5E5E5;
    margin: 0 auto;
    text-align: center;
    padding: 16px 40px;
   
}
.nav-menu-item {
    display: inline-block;
    margin-right: 30px;
}  
.nav-menu-link {
color: #333333;
font-size: 14px;
line-height: 16px;

}  
.btn-callback {
    border: 2px solid #F13C6E;
    border-radius: 40px;
    padding: 12px 27px;
    background-color:white ;
}
.phone-namber {
    color: #000000;  
    font-size: 16px;
    line-height: 19px;
    margin-left: 93px;

}
.input-search {
    border-radius: 40px;
    margin-left: 172px;
    background-color: #efefef;
    border: 0;
    padding: 10px 20px;
    outline-color: #F13C6E;
}
.categories-list{
    background: #E5E5E5;
    margin: 0 auto;
    text-align: center;
    padding: 16px 40px;
   
}
.categories-list-item{
    display: inline-block;
    margin-right: 30px;
}  
.categories-list-link{
color: #333333;
font-size: 14px;
line-height: 16px;
}